fastapi # REST API framework
uvicorn[standard] # http server
pydantic # validating input data
pydantic[email] # validating email
pytest # unit tests
hypothesis # testing framework
pytest-asyncio # calling async methods in pytest
psycopg2 # used for yoyo-migrations and postgres
aiosqlite # async wrapper for sqlite driver
asyncpg # asyncrhonous postgers access
sqlalchemy # database access
yoyo-migrations # database migrations
loguru # looging
requests # testing api
python-multipart # authentification
python-jose # JWT tokens
passlib[bcrypt] # hashing passwords